.signupForm label,
.signupForm input {
  display: block;
}

.singupWrapper {
  border: 1px solid;
  display: grid;
  justify-content: center;
  margin: auto;
  width: fit-content;
  padding: 2rem 5rem;
  text-align: center;
  border-radius: 20px;
}

.singupWrapper > h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.singupWrapper > p {
  font-size: 1.2rem;
}

.singupWrapper > form {
  margin-top: 2rem;
  text-align: start;
}

.singupWrapper > form > input {
  width: 450px;
  margin-bottom: 2rem;
  padding: 5px;
  outline-color: white;
  outline-offset: 5px;
}

.singupWrapper > form > input:user-invalid {
  border: 3px solid crimson;
}

.singupWrapper > form > label {
  font-size: 1.2rem;
  font-weight: 300;
}

.singupWrapper > form > button {
  width: 100%;
  padding: 8px 18px;
  text-transform: uppercase;
  background-color: white;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.signup__login {
  border-top: 1px solid;
  padding: 1rem;
  margin-top: 2rem;
}

.signup__login > p > a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  margin-left: 0.5rem;
}
